    .text {
        margin: 20px;
        width: 75%;
        text-align: justify;
        letter-spacing: 0.5px;
        font-size: 18px;
        word-spacing: 5px;
        color: rgb(34, 34, 34);
    }
    
    .text h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
        text-decoration: underline 5px;
    }