.cart-block {
    width: 62%;
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 45px;

    background-color: rgb(255, 255, 244);
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 16px -4px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 16px -4px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 16px -4px rgba(0,0,0,0.25);
}

.total-price {
    margin-top: 40px;
    margin-bottom: 40px;

    text-align: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-top: 40px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 40%;
    border: 0.00053em solid  rgb(185, 185, 185);
    -webkit-box-shadow: 1px 1px 16px -4px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 16px -4px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 16px -4px rgba(0,0,0,0.25);
}

.cart-item-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-item-lower {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 110%;
    margin-bottom: 2px;
}

.cart-item-view-buttons {
    display: flex;
    flex-direction: row;
}

.cart-item-counters {
    display: flex;
    flex-direction: row;
    width: 150%;
    margin-left: 10px;
    margin-top: 2px;
    align-items: flex-end;
}

.cart-item-increment {
    margin-top: 2px;
    margin-left: 10px;
    color: white;
    background: rgb(219, 43, 43);
    border: 2px solid rgb(219, 43, 43);
    border-radius: 3px 0 0 3px;

    font-size: 1em;
    
    cursor: pointer;
}

.cart-item-decrement {
    margin-top: 2px;


    color: white;
    background:  rgb(44, 44, 44);
    border: 2px solid  rgb(44, 44, 44);
    border-radius: 0 3px 3px 0;

    font-size: 1em;
    
    cursor: pointer;
}

.cart-item-tags {
    margin-left: 5px;
}

.cart-tag {
    color: white;
    background:  rgb(65, 65, 65);
    border: 2px solid  rgb(65, 65, 65);
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.cart-proceed {
    margin-bottom: 40px;
    text-align: center;
}

.cart-proceed-button {
    margin-top: 2px;
    margin-left: 10px;
    padding: 0.2em;
    color: white;
    background: rgb(44, 44, 44);
    border: 2px solid rgb(44, 44, 44);
    border-radius: 3px 0 0 3px;

    font-size: 1em;
    
    cursor: pointer;
}

.cart-item-amount {
    margin-left: 5px;
    margin-right: 5px;
}

.cart-clear-button {
    margin-top: 2px;
    padding: 0.2em;
    padding-right: 0.4em;
    color: white;
    background:  rgb(219, 43, 43);
    border: 2px solid rgb(219, 43, 43);
    border-radius: 0 3px 3px 0;

    font-size: 1em;
    
    cursor: pointer;
}